{% extends "base.html" %}

{% block main %}
<button class="btn btn-primary car-message-title" type="button">
    鲁A18999
</button><br><br>

<div class="form-inline car-message-main">
    <div class="form-group">
        <label for="exampleInputName2">工单号.WIP</label>
        <label class="form-control" id="exampleInputName2">68999</label>
    </div>

    <div class="form-group">
        <label for="exampleInputName2">车型.MODEL</label>
        <label class="form-control" id="exampleInputName2">5系</label>
    </div>

    <div class="form-group">
        <label for="exampleInputName2">服务顾问.SA</label>
        <label class="form-control" id="exampleInputName2">张海龙</label>
    </div><br><br><br>

    <div class="form-group">
        <label for="exampleInputName2">预约进厂时间.TIME</label>
        <label class="form-control" id="exampleInputName2">2020年12月30日</label>
    </div>

    <div class="form-group">
        <label for="exampleInputName2">工单登记时间.TIME</label>
        <label class="form-control" id="exampleInputName2">2020年12月30日</label>
    </div>

    <div class="form-group">
        <label for="exampleInputName2">预约出厂时间.TIME</label>
        <label class="form-control" id="exampleInputName2">2020年12月30日</label>
    </div>

    <div class="form-group">
        <label for="exampleInputName2">预估出厂时间.TIME</label>
        <label class="form-control" id="exampleInputName2">2020年12月30日</label>
    </div><br><br><br>

    <div class="form-group">
        <label for="exampleInputName2">钣金技师.MT</label>
        <label class="form-control" id="exampleInputName2">张敬旭</label>
    </div>

    <div class="form-group">
        <label for="exampleInputName2">前处理技师.MT</label>
        <label class="form-control" id="exampleInputName2">张新</label>
    </div>

    <div class="form-group">
        <label for="exampleInputName2">喷涂技师.MT</label>
        <label class="form-control" id="exampleInputName2">苏守杰</label>
    </div>

    <div class="form-group">
        <label for="exampleInputName2">维修件数.NUM</label>
        <label class="form-control" id="exampleInputName2">3件</label>
    </div>

    <br><br><br>

    <div class="form-group">
        <label for="exampleInputName2">维修项目.ITEM</label>
        <label class="form-control" id="exampleInputName2">前杠、机盖、左前侧围</label>
    </div>

    <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <a class="btn btn-default">信息修改</a>
    </div>

</div>


{% endblock %}