{% extends "base.html" %}


{% block main %}
    <div class="form-inline car-message-main">
        <div class="form-group">
            <label for="exampleInputName2">车牌号.CAR_NUM</label>
            <label class="form-control" id="exampleInputName2">鲁A18999</label>
        </div>

        <div class="form-group">
            <label for="exampleInputName2">工单号.WIP</label>
            <label class="form-control" id="exampleInputName2">68999</label>
        </div>
    </div>

        <form class="form-inline form-daka ">
            <div class="form-group">
                <label for="exampleInputEmail2">维修技师.NAME</label>
                <select class="form-control" id="exampleInputEmail2">
                    <option>王洪磊</option>
                    <option>赵 凯</option>
                    <option></option>
                </select>
            </div>

            <div class="form-group">
                <label for="exampleInputEmail2">维修件数.NUM</label>
                <select class="form-control" id="exampleInputEmail2">
                    <option></option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                    <option>13</option>
                    <option>14</option>
                    <option>15</option>
                </select>
            </div><br><br><br>
            <label><input class="btn btn-primary btn-lg qcl-daka" type="submit" value="开始抛光"></label>
        </form>

        <form class="form-inline">
            <div class="form-group">
               <label><input class="btn btn-primary btn-lg qcl-daka-over" type="submit" value="抛光完成"></label>
            </div>
        </form>
{% endblock %}