{% extends "base.html" %}

{% block main %}

    <div class="form-inline car-message-main">
        <div class="form-group">
            <label for="exampleInputName2">车牌号.CAR_NUM</label>
            <label class="form-control" id="exampleInputName2">鲁A18999</label>
        </div>

        <div class="form-group">
            <label for="exampleInputName2">工单号.WIP</label>
            <label class="form-control" id="exampleInputName2">68999</label>
        </div>
    </div>

    <form class="form-inline form-daka ">
        <div class="form-group">
            <label for="exampleInputEmail2">维修技师.NAME</label>
            <select class="form-control" id="exampleInputEmail2">
                <option></option>
                <option>苏守杰</option>
                <option>乔 牧</option>
                <option>孙克安</option>
                <option>章 亮</option>>
            </select>
        </div>

        <div class="form-group">
            <label for="exampleInputEmail2">喷涂颜色.COL</label>
            <input type="text" class="form-control pt-daka" id="exampleInputName2" placeholder="COLOR">
        </div>

        <div class="form-group">
            <label for="exampleInputEmail2">油漆用量(g).PA_NUM</label>
            <input type="text" class="form-control" id="exampleInputName2" placeholder="PAINT_NUM">
        </div>
        <br><br><br>

        <label><input class="btn btn-primary btn-lg qcl-daka" type="submit" value="维修开始"></label>
    </form>

    <form class="form-inline">
        <div class="form-group">
           <label><input class="btn btn-primary btn-lg qcl-daka-over" type="submit" value="维修完成"></label>
        </div>
    </form>
{% endblock %}