{% extends "bj_capacity.html" %}

{% block capacity_title %}前处理工序{% endblock %}

{% block photo1 %}<img class="bj_logo" src="../static/images/channeng.png">{% endblock %}
{% block daka %}
    <span class="label label-warning">
        <a href="{% url 'mycar:qcl_daka' %}">鲁A19555</a>
    </span>
{% endblock %}

{% block photo2 %}<img class="bj_logo" src="../static/images/channeng.png">{% endblock %}

{% block photo3 %}<img class="bj_logo" src="../static/images/channeng.png">{% endblock %}

{% block photo4 %}<img class="bj_logo" src="../static/images/channeng.png">{% endblock %}

{% block photo5 %}<img class="bj_logo" src="../static/images/channeng.png">{% endblock %}

{% block photo6 %}<img class="bj_logo" src="../static/images/channeng.png">{% endblock %}





